.button {
    margin-top: 24px;
    background-color: #4398D3;
    margin-right: 10px;
    width: 260px;
  }

  .buttons {
      display: flex;
      flex-direction: column;
      margin-top: 88px;
  }