.navbar {
    background-color: #efc3e6;
    margin-bottom: 112px;
    height: 72px;
}

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
}

#loginButton {
    background-color: #e0fbfc;
    color: black;
}
