<nav class="navbar navbar-expand-md">
  <a
    class="navbar-brand"
    href=""
  >Trippin'</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a
        class="nav-link"
        href="#"
      >Maps</a>
    </li>
    <li
      nav-item
      active
    >
      <a
        *ngIf="isUserLoggedIn"
        class="nav-link"
        href=""
        (click)="logout()"
      >Logout</a>
    </li>
  </ul>
  <button
    (click)="login()"
    type="submit"
    id="loginButton"
  >Sign In</button>
  <button
    (click)="register()"
    type="submit"
    id="registerButton"
  >Register</button>

  <!-- <form  #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()"> -->
  <!-- <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required
      [(ngModel)]="userToLogin.username">
    <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required
      [(ngModel)]="userToLogin.password"> -->
  <!-- </form> -->

  <!-- <h3 *ngIf="loggedIn()">Welcome {{ getUserName() | titlecase}}</h3> -->
</nav>
