.form-field {
    margin-bottom: 12px;
  }

.input-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
  }

  #formInput {
    margin-bottom: 12px;
  }
  
  .button {
    margin-right: 10px;
    border: solid 1px grey;
  }