<div>
  <h1>Sign Up!</h1>
  <div class="input-container">
    <mat-form-field class="form-field" id="firstNameField">
      <input matInput placeholder=" First Name" [(ngModel)]="userToRegister.firstName">
      <input matInput placeholder=" Last Name" [(ngModel)]="userToRegister.lastName">
      <input matInput placeholder=" Username" [(ngModel)]="userToRegister.username">
      <input matInput placeholder=" Email" [(ngModel)]="userToRegister.email">
      <input matInput type="password" name="password" placeholder=" Password" [(ngModel)]="userToRegister.password">
    </mat-form-field>
    <div>
      <button class="button" (click)="RegisterUser()" mat-button>Register</button>
      <button class="button" (click)="CancelUserRegistration()" mat-button>Cancel</button>
    </div>
  </div>
</div>
