#googlemap {
  height: 575px;
  width: 600px;
}

#searchCity {
  width: 300px;
  height: 32px;
}

.container {
  display: flex;
}

.itinerary-inputs {
  display: flex;
  flex-direction: column;
}

.city-inputs {
  display: flex;
  height: 32px;
  margin-top: 56px;
}

.save-button {
  margin-top: 24px;
  background-color: #efc3e6;
}

.optionsInput {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  margin-right: 24px;
}

#searchCity {
  margin-bottom: 24px;
  margin-right: 12px;
}

.mat-button {
  outline: none;
}


.nameInput {
  display: flex;
  margin-left: 62px;
}

.map {
  width: 100%;
}

input {
  width: 100%;
  margin-right: 48px;
}

.cityInput {
  width: 200px;
  margin-right: 20px;
}
