  <div class="container">
    <div class="itinerary-inputs">
      <div class="itinerary-name">
        <input
          id="itineraryName"
          [(ngModel)]="itinerary.name"
          type="text"
          placeholder="Enter your itinerary's name"
        >
      </div>
      <div
        class="city-inputs"
        *ngFor="let input of inputFields, index as i; let last = last"
      >
        <div class="city-name-travel-mode">
          <div class="allo">
            <button mat-button>
              <mat-icon (click)="add()">add</mat-icon>
            </button>
            <input
              (keyup)="inputChange($event, input.id)"
              id="{{'searchCity-'+ input.id}}"
              class="controls"
              type="text"
              placeholder="Enter a city!"
            >
          </div>
          <div
            *ngIf="!last"
            class="travel-mode"
          >
            <app-select-menu (sendSelectedTravelMode)="receivedSelectedTravelMode($event)"></app-select-menu>
          </div>
        </div>
      </div>
      <button
        class="save-button"
        mat-button
        (click)="saveItinerary(itinerary)"
      >Save your itinerary</button>
    </div>
    <div id="googlemap"></div>
  </div>
