#googlemap {
  height: 575px;
  width: 600px;
}

#searchCity {
  width: 300px;
  height: 32px;
}

.container {
  display: flex;
}

.itinerary-inputs {
  display: flex;
  flex-direction: column;
}

.city-inputs {
  display: flex;
  height: 78px;
}

.save-button {
  background-color: #4398D3;
  width: 160px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 255px;
  margin-top: 30px;
}

.optionsInput {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  margin-right: 24px;
}

#searchCity {
  margin-bottom: 24px;
  margin-right: 12px;
}

.mat-button {
  outline: none;
}

.input-name {
width: 350px;
margin-left: 11px;
}

.map {
  width: 100%;
}

.cityInput {
  width: 200px;
  margin-right: 20px;
}

.city-name-travel-mode {
  display: flex;
  height: 25px;
}

.inputs-div {
  display: flex;
  flex-direction: column;
}

.top-inputs-div {
display: flex;
}

.itinerary-name {
  margin-bottom: 32px;
}

.bottom-inputs-div {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.inputs-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dots {
  margin-left: -5px;
  font-size: 40px;
  margin-top: 3px;
}

.controls {
  width: 235px !important;
}

.add-location {
  margin-right: 10px;
  font-size: 30px;
}

.add-clickable {
  display: flex;
}

.last-dots {
  margin-left: -39px;
  font-size: 40px;
  margin-top: 6px;
}

.test {
  display: flex;
  flex-direction: column;
}

.invisible-input {
  border: none;
  background-color: white;
}

.last-add {
  display: flex;
}

.clickable-add-location {
  margin-left: -33px;
  font-size: 30px;
  margin-top: 19px;
}