<h1>Change repo</h1>
<div class="container">
  <div class="itinerary-inputs">
    <div class="itinerary-name">
      <input
        class="input-name"
        id="itineraryName"
        [(ngModel)]="itinerary.name"
        type="text"
        placeholder="Enter your itinerary's name"
      >
    </div>
    <div
      class="city-inputs"
      *ngFor="let input of inputFields, index as i; let last = last"
    >
      <div class="city-name-travel-mode">
        <div class="inputs-div">
          <div class="top-inputs-div">
            <mat-icon class="add-location">gps_fixed</mat-icon>
            <div>
              <input
                (keyup)="inputChange($event, input.id)"
                id="{{'searchCity-'+ input.id}}"
                class="controls"
                type="text"
                placeholder="Enter a city!"
              >
              <div class="last-add">
                <div
                  *ngIf="last"
                  class="test"
                >
                  <mat-icon class="last-dots">more_vert</mat-icon>
                  <mat-icon
                    class="clickable-add-location"
                    (click)="add()"
                  >add_circle_outline</mat-icon>
                </div>
                <div
                  class="add-clickable"
                  *ngIf="last"
                >
                  <input
                    [disabled]="true"
                    id="{{'searchCity-'+ input.id}}"
                    class="invisible-input"
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="!last"
            class="bottom-inputs-div"
          >
            <mat-icon class="dots">more_vert</mat-icon>
            <app-select-menu (sendSelectedTravelMode)="receivedSelectedTravelMode($event)"></app-select-menu>
          </div>
        </div>
      </div>
    </div>
    <button
      class="save-button"
      (click)="saveItinerary(itinerary)"
    >Save your itinerary</button>
  </div>
  <div id="googlemap"></div>
</div>