.form-field {
    margin-bottom: 12px;
  }

.input-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
  }

  .formInput {
    margin-bottom: 12px;
    width:250px;
  }

  .button {
    margin-right: 10px;
    border: solid 1px grey;
  }

  .container {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
  }

  ::ng-deep .form-field-infix {
    width: 250px !important;
  }
