<div class="container">
  <div class="mapOptions">
    <div class="inputs">
      <input id="itineraryName" [(ngModel)]="itinerary.name" type="text" placeholder="Enter your itinerary's name">
      <input id="searchCity" class="controls" type="text" placeholder="Enter a city!">
      <app-select-menu (sendSelectedTravelMode)="receivedSelectedTravelMode($event)"></app-select-menu>
  </div>
  </div>
  <div id="googlemap"></div>
  <button class="save-button" mat-button (click)="saveItinerary()">Save your itinerary</button>
</div>
