#googlemap {
  height: 500px;
  width: 100%;
}

#searchCity {
  width: 300px;
  height: 32px;
}

.save-button {
  margin-top: 24px;
  background-color: #efc3e6;
}

.optionsInput {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  margin-right: 24px;
}

#searchCity {
  margin-bottom: 24px;
  margin-right: 12px;
}

.mat-button {
  outline: none;
}

.container {
  padding-top: 12px;
  display: flex;
  padding: 0px
}

.cityName {
  display: flex;
  height: 32px;
  margin-top: 56px;
}

.nameInput {
  display: flex;
  margin-left: 62px;
}

.map {
  width: 100%;
}

input {
  width: 100%;
  margin-right: 48px;
}