<div class="page-container">
  <div class="container">
    <div>
      <div class="cityName" 
      *ngFor="let input of inputFields">
      <button mat-button>
        <mat-icon (click)="add()">add</mat-icon>
      </button> 
      <div class="cityInput">
        <input (keyup)="inputChange($event, input.id)" id="{{'searchCity-'+ input.id}}" class="controls" type="text" placeholder="Enter a city!">
      </div>
    </div>  
    </div>
    <div class="map">
      <div class="optionsInput">
        <input id="itineraryName" [(ngModel)]="itinerary.name" type="text" placeholder="Enter your itinerary's name">
        <app-select-menu (sendSelectedTravelMode)="receivedSelectedTravelMode($event)"></app-select-menu>
      </div>
      <div id="googlemap"></div>
    </div>
  </div>
  <button class="save-button" mat-button (click)="saveItinerary()">Save your itinerary</button>
</div>
<!-- (keyup)="inputChange($event, input.id)"  -->