<div class="container">
    <span class="title">Customize your map!</span>
    <div>
        <mat-form-field>
            <mat-label>Select a property</mat-label>
            <mat-select
                disableOptionCentering
                panelClass="myPanelClass"
                appearance="fill"
                (selectionChange)="selectElementTostyle($event)"
            >
                <mat-option
                    *ngFor="let element of styledMapElements"
                    [value]="element"
                >{{element}}
                    <!-- <span
                        [(colorPicker)]="color"
                        [style.background]="white"
                        (colorPickerChange)="receivedColor($event)"
                        [cpToggle]="true"
                    >{{element}} -->
                    <!-- </span> -->
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button
            [(colorPicker)]="color"
            [style.background]="white"
            (colorPickerChange)="receivedColor($event)"
            [cpToggle]="true"
        ></button>
    </div>
    <div id="googlemap"></div>
</div>