<div class="container">
    <div class="customization-container">
        <div class="color-choice">
            <div>
                <label id="mat-radio-label">Choose your element to customize</label>
                <mat-radio-group class="radio-group">
                    <mat-radio-button
                        class="radio-button"
                        *ngFor="let element of styledMapElementsColor"
                        [value]="element"
                        (change)="selectElementToStyle($event)"
                    >
                        {{ element }}
                    </mat-radio-button>
                </mat-radio-group>
                <button
                    [(colorPicker)]="color"
                    [style.background]="white"
                    (colorPickerChange)="receivedColor($event)"
                    [cpToggle]="true"
                >Pick a color!</button>
            </div>
        </div>
        <div class="precision-choice">
            <div *ngFor="let element of styledMapElementsPrecision">
                {{element}}
                <mat-slider
                    [displayWith]="formatLabel"
                    tickInterval="1000"
                    min="1"
                    max="100000"
                ></mat-slider>
            </div>
        </div>
    </div>
    <div id="googlemap"></div>
</div>