.container {
  margin-top: 60px;
  margin-left: 20px;
  width: 100%;
}

#googlemap {
  height: 500px;
  width: 100%;
  z-index: 0;
}

.style-element-dropdown {
  margin-bottom: 400px;
  z-index: 10 !important;
}

.title {
  margin-bottom: 20px;
}

.myPanelClass{
    margin-top: 30px !important; 
}

.cdk-overlay-container, .cdk-overlay-pane {
     z-index: 9999 !important;
}
