<div class="page-container">
  <div class="container" *ngIf="!showRegistrationForm">
    <h1>Create your next trip itinerary!</h1>
    <p>Sign up and plan your next dream!</p>
    <div>
      <button class="button" (click)="ShowRegistrationForm()" [disableRipple]="true" mat-button>Register</button>
      <button class="button" [disableRipple]="true" mat-button>Learn More</button></div>
  </div>
  <app-sign-up-form *ngIf="showRegistrationForm" (cancelRegistration)="CancelRegistration()"></app-sign-up-form>
</div>
